gtts
pydub
SpeechRecognition
pygame
requests
beautifulsoup4
python-vlc
opencv-python-headless
keyboard
mouse
pyautogui
yandex-music
python-dotenv
deepface
easyocr
mss
Pillow
numpy
psutil
youtube-search
pyperclip
PyPDF2
plyer